body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #B3E5FC; /* Svijetlo plava - boja mora */
    color: #01579B; /* Tamno plava - dubina oceana */
}

h1 {
    color: #0288D1; /* Vedra plava - boja neba */
}

h2 {
    color: #00796B; /* Tamno zelena - podsjeća na morsku vegetaciju */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #004D40; /* Duboka morska zelena */
}

p {
    color: #0277BD; /* Ugodna morska plava */
}

blockquote {
    font-style: italic;
    background-color: #81D4FA; /* Vedro plava kao sunčevi odsjaji na vodi */
    padding: 10px;
    border-left: 5px solid #00796B; /* Tamna zelena */
}

img {
    width: 200px;
    border-radius: 10px;
    border: 2px solid #0288D1; /* Vedra plava */
}

video, iframe, audio {
    margin-top: 10px;
    display: block;
    background-color: #4FC3F7; /* Svijetlo plava - nježno morski ton */
    padding: 5px;
}